body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Kranky', cursive;
  overflow: hidden;
}

#klab {
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  background: green;
  display: flex;
  justify-content: center;
  color: white;
}

#overlay {
  position: absolute;
  top: 0; left:0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.8);
  color: white;
}

#error {
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.8);
  color: red;
}

#error span {
  font-size: 24px;
  margin-bottom: 16px;
  display: block;

  animation-name: spin;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
}

@keyframes spin {
  0% {
    transform: rotate(-2deg) scale(1);
  }
  40% {
    transform: rotate(2deg) scale(1.1);
  }
  100% {
    transform: rotate(-2deg) scale(1);
  }
}

#scores {
  position: absolute;
  left: 50%;
  top: 20px;
  bottom: 20px;
  background: rgba(255, 255, 255, 0.95);
  border-radius: 10px;
  transform: translateX(-50%) rotate(1deg);
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 400px;
  border: 8px solid orange;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.6);
}

#scores .names {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 20px;
}

#scores .names div {
  text-align: center;
  border-right: 1px solid grey;
  border-bottom: 1px solid grey;
  width: 150px;
  padding: 20px;
}

#scores .names div:last-child {
  border-right: 0;
}

#scores .rounds {
  flex-grow: 1;
  overflow-y: auto;
}

#scores .rounds .round {
  display: flex;
  flex-direction: row;
}

#scores .rounds .round div {
  width: 150px;
  padding: 5px 20px;
  text-align: center;
  border-right: 1px solid grey;
}

#scores .rounds .round div:last-child {
  border-right: 0;
}

#scores .buttons {
  padding: 20px 0;
}

#error a {
  color: white;
  text-decoration: none;
}

button.button {
  border: 0;
  background: blue;
  color: white;
  padding: 16px;
  font-size: 18px;
  cursor: pointer;
  transition: .2s all;
  border-radius: 4px;
  font-family: 'Kranky', cursive;
}

button.button + button.button {
  margin-left: 16px;
}

button.button:hover {
  background-color: lightblue;
  color: blue;
  transform: rotate(3deg) scale(1.1);
}

button.button[disabled] {
  background: grey;
  color: darkgrey;
  cursor: auto;
}

button.button[disabled]:hover {
  background: grey;
  color: darkgrey;
  transform: none;
}

form span.label {
  font-size: 24px;
  color: white;
  display: block;
  transform: rotate(-2deg) translateY(-2px);
  margin-bottom: 4px;
}

input[type=text] {
  padding: 8px;
  border: 3px solid white;
  font-size: 20px;
  border-radius: 2px;
  transform: rotate(1deg) translateY(5px);
}

input[type=text]:focus {
  border: 3px solid blue;
}

input[type=text]:invalid:not(:focus) {
  border: 3px solid red;
  box-shadow: none;
}

img.header {
  width: 100px;
  border-radius: 4px;
  align-self: center;
}

h1 {
  text-align: center;
  font-size: 48px;
  margin: 0 0 16px 0;
}

p {
  margin: 0 0 16px 0;
}

.klab-home {
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.klab-home p {
  margin-bottom: 32px;
}

.klab-home .buttons {
  display: flex;
  justify-content: center;
}

.klab-new-game {
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.klab-new-game form {
  align-self: center;
  display: flex;
  flex-direction: column;
}

.klab-new-game .name {
  margin-bottom: 32px;
}

.klab-new-game .player-count {
  flex-direction: column;
  display: flex;
  margin-bottom: 32px;
}

.klab-new-game .players-wrapper .players {
  width: 100px;
}

.klab-join-game {
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.klab-join-game form {
  align-self: center;
  display: flex;
  flex-direction: column;
}

.klab-join-game .code {
  margin-bottom: 32px;
}

.klab-join-game .name {
  margin-bottom: 32px;
}

.klab-game-lobby {
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.klab-game-lobby .code {
  font-family: Arial, sans-serif;
  font-size: 24px;
}

.klab-game-lobby .players {
  font-family: Arial, sans-serif;
  font-size: 24px;
  margin: 0 0 16px 0;
}

.klab-game {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
  position: relative;
}

.klab-game .header {
  display: flex;
  flex-direction: row;
}

.klab-game .header img {
  width: 20px;
  margin: 20px;
}

.klab-game .table {
  position: relative;
  flex-grow: 1;
  width: 100%;
}

.klab-game .players {
  width: 100%;
  height: 100%;
}

.klab-game .players .player {
  position: absolute;
  background: rgba(139, 69, 19, 0.5);
}

.klab-game .players .player .dealer-pos {
  position: absolute;
  left: 0;
  top: 0;
}

.klab-game .players .player1 {
  width: 50%;
  height: 25%;
  left: 25%;
  bottom: 0;
}

.klab-game .players .player2 {
  width: 25%;
  height: 50%;
  right: 0;
  top: 25%;
}

.klab-game .players .player3 {
  width: 50%;
  height: 25%;
  left: 25%;
  top: 0;
}

.klab-game .players .player4 {
  width: 25%;
  height: 50%;
  left: 0;
  top: 25%;
}

.klab-game .dealer {
  position: absolute;
}

.klab-game .dealer span {
  color: black;
  display: block;
  background: yellow;
  text-align: center;
}

.klab-game .deck {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 81px;
  height: 111px;
  transform: translateX(150px) translateY(-50%);
}

.klab-game .card_up {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 75px;
  height: 105px;
  transform: translateX(65px) translateY(-50%);
}

.klab-game .bid_options {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300px;
  transform: translateX(-270px) translateY(-50%);
}

.klab-game .trumps {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: rotate(90deg);
}

.klab-game .trumps-symbol {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url(suit.png) no-repeat left top;
}

.klab-game .trumps-symbol-1 { background-position: -20px 0; }
.klab-game .trumps-symbol-2 { background-position: -40px 0; }
.klab-game .trumps-symbol-3 { background-position: -60px 0; }
.klab-game .trumps-symbol-4 { background-position: -80px 0; }

.klab-game .card {
  width: 75px;
  height: 105px;
  position: absolute;
  background: url(cards.png) no-repeat 0 -420px;
  border-radius: 5px;
}

.klab-game .card.card-suit-1.card-rank-1 { background-position: 0 0; }
.klab-game .card.card-suit-1.card-rank-2 { background-position: -75px 0; }
.klab-game .card.card-suit-1.card-rank-3 { background-position: -150px 0; }
.klab-game .card.card-suit-1.card-rank-4 { background-position: -225px 0; }
.klab-game .card.card-suit-1.card-rank-5 { background-position: -300px 0; }
.klab-game .card.card-suit-1.card-rank-6 { background-position: -375px 0; }
.klab-game .card.card-suit-1.card-rank-7 { background-position: -450px 0; }
.klab-game .card.card-suit-1.card-rank-8 { background-position: -525px 0; }
.klab-game .card.card-suit-2.card-rank-1 { background-position: 0 -105px; }
.klab-game .card.card-suit-2.card-rank-2 { background-position: -75px -105px; }
.klab-game .card.card-suit-2.card-rank-3 { background-position: -150px -105px; }
.klab-game .card.card-suit-2.card-rank-4 { background-position: -225px -105px; }
.klab-game .card.card-suit-2.card-rank-5 { background-position: -300px -105px; }
.klab-game .card.card-suit-2.card-rank-6 { background-position: -375px -105px; }
.klab-game .card.card-suit-2.card-rank-7 { background-position: -450px -105px; }
.klab-game .card.card-suit-2.card-rank-8 { background-position: -525px -105px; }
.klab-game .card.card-suit-3.card-rank-1 { background-position: 0 -210px; }
.klab-game .card.card-suit-3.card-rank-2 { background-position: -75px -210px; }
.klab-game .card.card-suit-3.card-rank-3 { background-position: -150px -210px; }
.klab-game .card.card-suit-3.card-rank-4 { background-position: -225px -210px; }
.klab-game .card.card-suit-3.card-rank-5 { background-position: -300px -210px; }
.klab-game .card.card-suit-3.card-rank-6 { background-position: -375px -210px; }
.klab-game .card.card-suit-3.card-rank-7 { background-position: -450px -210px; }
.klab-game .card.card-suit-3.card-rank-8 { background-position: -525px -210px; }
.klab-game .card.card-suit-4.card-rank-1 { background-position: 0 -315px; }
.klab-game .card.card-suit-4.card-rank-2 { background-position: -75px -315px; }
.klab-game .card.card-suit-4.card-rank-3 { background-position: -150px -315px; }
.klab-game .card.card-suit-4.card-rank-4 { background-position: -225px -315px; }
.klab-game .card.card-suit-4.card-rank-5 { background-position: -300px -315px; }
.klab-game .card.card-suit-4.card-rank-6 { background-position: -375px -315px; }
.klab-game .card.card-suit-4.card-rank-7 { background-position: -450px -315px; }
.klab-game .card.card-suit-4.card-rank-8 { background-position: -525px -315px; }

.klab-game .player .cards {
  padding: 10px 0 10px 20px;
}

.klab-game .player .cards .card {
  position: relative;
  display: inline-block;
  margin: 0 -20px 5px 0;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  transform: rotate(-20deg);
  transition: .2s all;
}

.klab-game .player .cards .card.up:hover {
  transform: translateY(-20px);
}

.klab-game .card.up {
}

.klab-game .card.up.card-suit-1,
.klab-game .card.up.card-suit-2 {
  color: red;
}

.klab-game .card.up.card-suit-3,
.klab-game .card.up.card-suit-4 {
  color: black;
}
